<style>

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin: auto
    }
    
    li a:hover {
      background-color: #111;
    }
  
  </style>
  
   <ul>
    <li><a href="{% url 'user_profile' %}"> User Home</a> </li>
    <li><a href="{% url 'food_search' %}"> Search for Foods </a></li>
    <li><a href="{% url 'logout' %}"> Logout </a></li>
  </ul> <br>


<form method="POST">
    {% csrf_token %}
                <label>Username:</label>
                    {{ user_form.username }} <br>
                <label>First name:</label>
                    {{ user_form.first_name }}<br>
                <label>Last Name:</label>
                    {{ user_form.last_name }}<br> 
                <label>Height:</label>
                    {{ profile_form.height }}<br>
                <label>Weight:</label>
                    {{ profile_form.weight }}<br>
                <label>Goal:</label>
                    {{ profile_form.goal }}<br>
    <br><br>
    <button type="submit">Save Changes</button>
    <button type="reset">Reset</button>
</form>



 